.header{
	background-color: blue;
	grid-area: header;
}
.mainbar{
	background-color: pink;
	grid-area: main-bar;
}
.menu{
	background-color: orange;
	grid-area: menus;
}
.content{
	background-color: yellow;
	grid-area: contentss;

}
.footer{
	background-color: green;
	grid-area: footer;
}
.grid-container{
	display: grid;
	grid-template-areas: 
		'header header header header'
		'main-bar main-bar main-bar main-bar'
		'menus contentss contentss contentss'
		'menus contentss contentss contentss'
		'menus contentss contentss contentss'
		'footer footer footer footer';
}
